#menu{
  transition: 0.4s;
  min-height: 3.5rem;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 992px){
  #menu {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 757px){
  #menu{
    background-color: #343a40!important;
  }
}

.section{
  height: 500px;
  padding-top: 4.5rem;
}




.collapse ul li a:hover{
  background: grey;

}
.bg-footer{
	padding: 100px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: .7;
    background: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #ea4c89;
  color: white;
}